<app-page>
  <div class="admin-page" *ngIf="!loading">
    <h2 class="admin-page__title">
      <span>Административная панель</span>
    </h2>
    <mat-tab-group dynamicHeight mat-stretch-tabs>
      <mat-tab label="Банки">
        <app-table [data]="banks" [columns]="banksColumns"></app-table>
      </mat-tab>
      <mat-tab label="Заявки">
        <app-table [data]="loans" [columns]="loansColumns"></app-table>
      </mat-tab>
    </mat-tab-group>
  </div>
  <app-loading *ngIf="loading"></app-loading>
</app-page>
