@import 'src/app/styles/variables';
@import 'src/app/styles/material-reset';

* {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: $font-default;
  text-decoration: none;
}

html, body, .host-class {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 21px;
}

.host-class {
  display: flex;
  flex-direction: column;
}
