@import '../../styles/variables';
@import '../../styles/mixins';

.home-page {
  @include page;
}

@media #{$xs} {
  .home-page {
    background-color: white;
    &__form {
      box-shadow: none;
      margin: 0;
    }
  }
}
