@import './variables';

@mixin page() {
  display: flex;
  background-color: $background-color-gray;
  justify-content: center;
  align-items: center;
  height: 100%;
  @media #{$xs} {
    background-color: white;
  }
  &__form {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    width: 290px;
    margin: 30px;
    padding: 40px 50px;
    box-shadow: $shadow;
    border-radius: 15px;
    @media #{$xs} {
      margin: 0;
      box-shadow: none;
      padding: 15px;
    }
    &__title {
      text-align: center;
      padding-bottom: 40px;
    }
    &__logo {
      display: flex;
      justify-content: center;
      padding: 20px 0;
      &-img {
        width: 110px;
        cursor: pointer;
      }
    }
    &__field {
      width: 100%;
      margin-bottom: 30px;
      ::ng-deep .mat-form-field-subscript-wrapper {
        margin-top: 9px;
      }
      &__input {
        text-align: right;
      }
      &__slider {
        ::ng-deep, .mat-slider {
          padding: 0;
          height: 0;
        }
        width: 97%;
        &-container {
          display: flex;
          justify-content: center;
          transform: translateY(-81px);
        }
      }
    }
    &__btn {
      padding: 8px;
      letter-spacing: 1px;
      font-size: 15px;
      margin-top: 5px;
    }
  }
}
