<div class="login-page">
  <div class="login-form__wrapper">
    <div class="login-form">
      <form [formGroup]="form" (ngSubmit)="login()">
        <h2 class="login-form__title">Административная панель</h2>
        <div class="login-form__error">
            <mat-error *ngIf="error">{{ error }}</mat-error>
        </div>
        <mat-form-field class="login-form__field" appearance="outline">
          <mat-label>Логин</mat-label>
          <input formControlName="login" matInput type="text" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="form.get('login').hasError('required')">Обязательное поле</mat-error>
        </mat-form-field>
        <mat-form-field class="login-form__field" appearance="outline">
          <mat-label>Пароль</mat-label>
          <input formControlName="password" matInput [type]="hidePass ? 'password' : 'text'" />
          <button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass">
            <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password').hasError('required')">Обязательное поле</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button class="login-form__submit" color="primary">ВОЙТИ</button>
      </form>
    </div>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>
